# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
build/

# logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# environment variables
.env
.env.*
!.env.example

# debug and local test files
coverage/
temp/
.DS_Store

# Cloud provider folders
.vercel
.netlify

# Keep local single-use data out of repo
data/
